@import "tailwindcss";
@import "tailwindcss-animated";


.carter-one-regular {
  font-family: "Carter One", system-ui;
  font-weight: 400;
  font-style: normal;
}

@theme{
  --font-display: "Carter One", system-ui;
}

//App.jsx
.LandingPage{
    @apply flex flex-col max-w-screen;
}
.Logo{
    background: #07702c;
    background: linear-gradient(275deg,rgba(7, 112, 44, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(98, 237, 83, 1) 100%);
    @apply max-w-full place-self-center md:h-[20rem] place-items-center shadow-2xl shadow-gray-500 text-5xl border-solid border-b-10 border-emerald-900 rounded-b-4xl inline-flex flex-col md:flex-row justify-around p-5;
}
.LogoImg{
    @apply size-[10rem] md:size-[25rem];
}
.Motto1{
    @apply text-center text-[3rem] md:text-[5rem] md:place-self-start md:pt-15 animate-fade-down animate-once animate-duration-1000 animate-ease-in font-display;
}
.Motto2{
    @apply text-center text-[3rem] md:text-[5rem] md:place-self-end md:pb-15 animate-fade-up animate-once animate-duration-1000 animate-delay-1000 animate-ease-in font-display;
}

.content{
    @apply inline-grid grid-cols-5 gap-10 my-15 md:my-10;
}

.mission{
    @apply max-w-full inline-flex flex-col gap-5 shadow-2xl shadow-black border-5 border-black/50 p-5 mx-10 bg-emerald-400/20 rounded-4xl animate-fade-right animate-duration-1000 animate-delay-[2000ms] animate-ease-in font-display col-span-full md:col-span-3;
}
.mission .title{
    @apply text-center text-[3.5rem] underline;
}
.mission .body{
    @apply text-center text-2xl md:text-[1.5rem];
}
.buttons{
    @apply place-self-center inline-flex flex-wrap justify-center md:gap-5 col-span-full md:col-span-2 shadow-2xl shadow-black/60 border-3 border-gray-600/30 rounded-4xl bg-lime-500/30 animate-fade-down animate-duration-1000 animate-delay-[2000ms] animate-ease-in;
}
.SUmessage {
    @apply text-2xl basis-full text-center;
}
.LImessage {
    @apply text-[0.75rem] basis-full text-center;
}
.signUp{
    @apply bg-emerald-400/60 p-5 border-2 rounded-full text-3xl hover:bg-emerald-400 active:bg-emerald-800 basis-1/3 text-center;
}
.logIn{
    @apply bg-gray-200/60 p-5 border-2 rounded-full text-3xl hover:bg-gray-400 active:bg-gray-800 basis-1/3 text-center;
}

.Features{
    @apply row-start-2 col-start-3 md:col-span-full place-self-center text-3xl mt-10 bg-green-400/40 border-5 border-gray-600/40 rounded-4xl shadow-2xl shadow-black px-15 font-display animate-flip-up animate-duration-1000 animate-delay-[2000ms] animate-ease-in;
}
.Features h2{
    @apply text-center text-4xl underline underline-offset-4 mb-5;
}
.Features ul{
    @apply list-disc;
}